.container {
  display: flex;
}

.main-container {
  padding: 68px 90px 0 107px;
  text-align: left;
  box-sizing: content-box;
  width: 100%;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}

.welcome {
  font-size: 48px;
  margin-bottom: 41px;
}

.name {
  color: #ff0101;
}

.congrats {
  font-size: 18px;
}

.graphs {
  width: 70%;
}

.barchart {
  height: 320px;
  width: 100%;
  background-color: #000;
}

.charts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.little-charts {
  height: 263px;
  width: 258px;
  background-color: black;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
